*~

*.iml
*.log
*.bak
*.class
*.war
*.ejb
*.jar

bin
eclipsebin
local-test
out
stage
target
tmp

.classpath
.directory
.DS_Store
.idea
.project
.projectKnowledge
.settings
.jrebel_disabled

dependency-reduced-pom.xml
nb-configuration.xml
nbactions.xml
nbactions-develop.xml
nbactions-release.xml
nb_jr_remoting.cfg
settings.xml

pom.xml.*
rebel.xml
rebel-remote.xml

hs_err_pid*

!/etc/*/lib
!/etc/*/*.jar
!/servlet/etc/webp/webp-imageio.jar

server
sandbox